/*-- scss:defaults --*/
// Base document colors
$body-bg: #32fbe2 ;
$body-color: white;
$link-color: #4c9be8;

//navbar
$sidebar-bg: #32fbe2;

// Code blocks
//$code-block-bg-alpha: -.5;
$code-block-bg: #3B4D5B;

// Code color-rendering
$code-color: #2A6392;