/*-- scss:defaults --*/
/*-- scss:defaults --*/
// Base document colors
$body-bg: #0f2537 ;
$body-color: #ebebeb;
$link-color: #4c9be8;

// Code block
$code-block-bg: #3b4d5b;

// Code color-rendering: 
$code-color: #8CAECA;