
#quarto-sidebar  {
  background-color: white;
  border: 1px;
}


.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
 border-left:1px solid #e83283;
 color:#e83283 !important
}
.sidebar nav[role=doc-toc] ul>li>a:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
 color:#e83283 !important
}